version: '3'

services:
  db_user:
    image: mysql:latest
    environment:
      - MYSQL_ROOT_PASSWORD=mysqlpw
    ports:
      - 3306:3306
    volumes:       
      - ~/apps/mysql:/data/db 

  adresses:
    build: './Adresses'
    ports:
      - 3001:3000
    depends_on:
      - db_user
  
  order:
    build: './Order'
    ports:
      - 3002:3000
    depends_on:
      - db_user

  profile:
    build: './Profile'
    ports:
      - 3003:3000
    depends_on:
      - db_user

  
  restaurant:
    build: './Restaurant'
    ports:
      - 3005:3000
  restaurant1:
    build: './Restaurant'
    ports:
      - 3006:3000
  
  nginx:
    image: nginx:latest
    ports:
      - 8080:8080
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - restaurant
      - restaurant1
      - profile
      - order
      - adresses